{% extends "main/base.html" %}
{% block content %}

<div class="mh-wrap">
  <div class="mh-center">

    <section class="mh-card mh-auth-card">
      <h1 class="mh-auth-title">Napravi račun</h1>
      <p class="mh-muted">
        Registriraj se kako bi mogao krenuti pratiti svoje mentalno zdravlje.
      </p>

      <form method="post" class="mh-form" style="margin-top: 10px;">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <p>
          {{ form.username.label_tag }}
          {{ form.username }}
          {{ form.username.errors }}
        </p>

        <p>
          {{ form.password1.label_tag }}
          {{ form.password1 }}
          {{ form.password1.errors }}
        </p>

        <p>
          {{ form.password2.label_tag }}
          {{ form.password2 }}
          {{ form.password2.errors }}
        </p>

        <div class="mh-actions">
          <button class="mh-btn mh-btn-primary" type="submit" style="width:100%; justify-content:center;">
            Registriraj se
          </button>
        </div>
      </form>

      <div class="mh-auth-links">
        <p style="margin:0;">Već imaš račun? <a href="{% url 'login' %}">Prijava</a></p>
      </div>
    </section>

  </div>
</div>

{% endblock %}