{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Mental Health Tracker</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- GLOBALNI CSS -->
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>

<body>

{% if user.is_authenticated %}
<div class="navbar">

    <div class="nav-left">
        <a href="{% url 'dashboard' %}"
           class="{% if request.path == '/dashboard/' %}active{% endif %}">
           Početna
        </a>

        <a href="{% url 'mood_list' %}"
           class="{% if request.path == '/moods/' %}active{% endif %}">
           Raspoloženja
        </a>
        <a href="{% url 'meditation_list' %}"
           class="{% if request.path == '/meditations/' %}active{% endif %}">
           Meditacije
        </a>
    </div>

    <div class="nav-right">
        <span class="nav-user">{{ user.username }}</span>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="mh-btn mh-btn-ghost">Logout</button>
        </form>
    </div>

</div>
{% endif %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>