{% extends "main/base.html" %}
{% block content %}
<h1>Mood Entries</h1>

{% if user.is_authenticated %}
  <p>
    <a href="{% url 'mood_create' %}">+ Add new mood entry</a>
  </p>

{% endif %}

<hr>

{% for mood in moods %}
    <p>
        User: {{ mood.user }} |
        Mood: {{ mood.mood }} |
        Stress: {{ mood.stress }} |
        Note: {{ mood.note }}
        <a href="{% url 'mood_edit' mood.pk %}">Edit</a> |
        <a href="{% url 'mood_delete' mood.pk %}">Delete</a>
    </p>
{% empty %}
    <p>Nema podataka.</p>
{% endfor %}

{% endblock %}